.btn-dark {
  .button(@bg: @color-darker, @color: @color-lighter);
  background-color: @color-dark;
  
  &:active,
  &:focus,
  &:hover {
    color: @color-lighter;
    outline: none;
  } 
}

.btn-warning {
  .button(@bg: @color-warning, @color: @color-darker);
}

.btn-rounded {
  background-color: #FFF;
}