.form-group {
  
  label {
    font-family: AlegreyaSans;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }

  input {
    .formulary;
  }
  
  select {
    .formulary;
  }

  textarea {
    .formulary;
    height: auto;
  }


}