.border-radius(@radius: 5px) {
  border-radius: @radius;
}

.formulary {
  height: 40px;
  background-color: #ffffff;
  border: solid 1px #dddddd;
  .border-radius(8px);
}

.button {
  padding: 7px 20px;
  text-transform: uppercase;
  font-weight: 100;
  border-radius: 27px;
}