@bg-navigation: #333;

@color-darker: #4a4a4a;
@color-light: #bfc3cf;
@color-lighter: #FFF;
@color-warning: #fecc51;
@color-danger: #d14037;
@color-sky: #4e90dd;
@color-success: #54b176;


@text-color: @color-darker;