@color-darker: #333;
@color-dark: #4a4a4a;
@color-light: #bfc3cf;
@color-lighter: #FFF;
@color-warning: #fecc51;
@color-danger: #d14037;
@color-sky: #4e90dd;
@color-success: #54b176;


@bg-navigation: @color-darker;
@text-color: @color-dark;