
.main-navigation {
  background-color: @bg-navigation;
  max-height: 60px;
  padding: 10px 0;
  
  > nav {
    > .row{  
      > div {
        > ul {
          > li { 
            display: inline-block;
            border-radius: 4px;
            
            &:hover {
              background-color: @color-light;

              a {
                color: @color-dark; 

                .fa {
                  color: @color-warning; 
                }
              }
            }

            > a { 
              text-transform: uppercase;
              opacity: 0.7;
              font-weight: bold;
              padding: 10px 10px;
              display: inline-block;
              color: @color-light;
              text-decoration: none;
              cursor: pointer;
            }
          }
          
          //Classe na li
          > .category {
            position: relative;  
            border-radius: 4px 4px 0 0;

            > a {
                  padding-bottom: 20px;
            }   
            &:hover {              
              ul {
                display: block;
              } 
            }

            > ul {
              //height: 400px;
              position: absolute;              
              list-style: none;
              top: 50px;
              left: -1px;
              padding: 10px 0;
              border-left: 1px solid #CCC;
              border-right: 1px solid #CCC;
              border-bottom: 1px solid #CCC;
              display: none;
              background: #FFF;
              z-index: 10;
                                          
              > li {
                width: 200px;
                border-left: 4px solid #FFF;
                //border-right: 2px solid #CCC;

                &:hover {
                  border-left: 4px solid @color-warning; 

                  .sub{
                    display: block;
                  }     

                  a {
                    > .fa {
                      display: block;
                      color: @color-dark;
                      float: right;
                    }
                  }
                }

                > a {
                  padding: 5px 10px;
                  width: 100%;
                  color: @color-dark;
                  text-decoration: none;
                  display: inline-block;

                  > .fa {
                    display: none;
                  }

                  &:hover {
                    color: #000;                   
                  }
                }

                > .sub {
                  width: 200px;
                  height: 100%;
                  position: absolute;
                  left: 200px;
                  top: 1px;
                  border-right: 1px solid #CCC;
                  border-left: 1px solid #CCC;
                  border-bottom: 1px solid #CCC;
                  display: none;
                  background: #FFF;

                  ul {
                      //height: 400px;            
                      list-style: none;
                      padding: 10px 0;

                      > li {
                        width: 200px;
                        border-left: 4px solid #FFF;
                        //border-right: 2px solid #CCC;

                        &:hover {
                          border-left: 4px solid @color-warning;  

                          .sub {
                            display: block;
                          }

                          > a {
                            > .fa {
                              display: inline;
                            }
                          }                                   
                        }

                        > .sub {
                          width: 200px;
                          height: 100%;
                          position: absolute;
                          left: 199px;
                          top: 1px;
                          padding-top: 2px;
                          border-bottom: 1px solid #CCC;
                          border-right: 1px solid #CCC;
                          display: none;
                          background: #FFF;

                          > ul {
                            
                            > li {
                              border-right: 0;
                            }
                          }
                        }                        

                      > a {
                        padding: 5px 10px;
                        width: 100%;
                        color: @color-dark;
                        text-decoration: none;
                        display: inline-block;

                        > .fa {
                          display: none;
                        }

                        &:hover {
                          color: #000;
                        }
                      }
                    }
                  }                  
                }                
              }              
            }
          }   
        }
      }        
      .search {
        margin-top: 3px;

        > input {
          box-shadow: none;
          border: none;
        }

        > .input-group-addon {        
          background-color: @color-warning;
          border: none;
          color: @color-dark;
        }
      }   
    }
  }
} 



